/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
.group:before, .group:after {
  content: " ";
  display: table; }

/* line 15, ../sass/screen.scss */
.group:after {
  clear: both; }

/* line 19, ../sass/screen.scss */
#add-new-item {
  position: relative;
  margin-top: 2em; }

/* line 29, ../sass/screen.scss */
#list-section1 {
  margin-top: 2em; }

/* line 32, ../sass/screen.scss */
.list {
  margin-top: 2em;
  margin-bottom: 2em; }

/* line 37, ../sass/screen.scss */
.panel {
  border: solid 1px #000;
  background-color: #999; }

/* line 44, ../sass/screen.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #777; }

/* line 47, ../sass/screen.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #777; }

/* line 50, ../sass/screen.scss */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #777; }

/* line 53, ../sass/screen.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #777; }

/* line 58, ../sass/screen.scss */
textarea, #add-new-button {
  width: 80%;
  margin-bottom: 1em;
  font-size: 1em;
  padding: .3em; }

/* line 65, ../sass/screen.scss */
#add-new-button, #title-new, #notes-new {
  display: block;
  margin: 0 auto 1em; }

/* line 70, ../sass/screen.scss */
#add-new-button {
  position: relative;
  background-color: #bbb;
  text-align: center;
  -webkit-box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a, 5px 5px 1px 1px #333333, 7px 7px 1px 1px #4d4d4d;
  -moz-box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a, 5px 5px 1px 1px #333333, 7px 7px 1px 1px #4d4d4d;
  box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a, 5px 5px 1px 1px #333333, 7px 7px 1px 1px #4d4d4d; }
  /* line 76, ../sass/screen.scss */
  #add-new-button:active {
    top: 1px;
    right: 1px;
    -webkit-box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a;
    -moz-box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a;
    box-shadow: 2px 2px 1px 1px black, 3px 3px 1px 1px #1a1a1a; }

/* line 82, ../sass/screen.scss */
.notes-input {
  height: 8em;
  resize: none; }

/* line 89, ../sass/screen.scss */
.item {
  position: inherit;
  padding: 0.5em;
  height: 2.9em;
  min-height: 2.9em;
  cursor: pointer;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow-y: hidden;
  clip: rect(0px, auto, auto, -10px); }
  /* line 100, ../sass/screen.scss */
  .item input, .item textarea {
    width: 80%;
    margin-bottom: 1em;
    font-size: 1em;
    color: #000;
    background-color: #999;
    border: none;
    padding: .3em; }
    /* line 108, ../sass/screen.scss */
    .item input:focus, .item textarea:focus {
      background-color: #fff; }

/* line 117, ../sass/screen.scss */
.enter-date {
  margin: 0; }

/* line 122, ../sass/screen.scss */
.move-icon-container {
  position: absolute;
  top: .7em;
  right: .5em; }

/* line 128, ../sass/screen.scss */
.check-icon {
  position: absolute;
  top: .7em;
  right: 2.25em; }
  /* line 132, ../sass/screen.scss */
  .check-icon img {
    height: 20px;
    width: 20px; }

/* line 138, ../sass/screen.scss */
.close-icon {
  position: absolute;
  top: .7em;
  right: 4em; }
  /* line 144, ../sass/screen.scss */
  .close-icon img {
    height: 17px;
    width: 17px; }

/* line 151, ../sass/screen.scss */
.item-completed {
  text-decoration: line-through; }

/* line 155, ../sass/screen.scss */
.expand-list {
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  height: 14em; }

/* line 165, ../sass/screen.scss */
.title-input {
  height: 30px;
  min-height: 0;
  resize: none; }

/* line 172, ../sass/screen.scss */
#new-item-form .title-input {
  margin-top: 1em; }

/* line 177, ../sass/screen.scss */
p {
  position: relative; }

/* line 182, ../sass/screen.scss */
.move-icon-container:after {
  content: attr(data-tip);
  position: absolute;
  top: 0;
  left: -140px;
  background: #000;
  color: #e0e0e0;
  padding: 0px 7px;
  white-space: nowrap;
  visibility: hidden; }

/* line 202, ../sass/screen.scss */
.move-icon-container:hover:after {
  visibility: visible;
  webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s; }
