/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 12, ../sass/screen.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 16, ../sass/screen.scss */
.group:after {
  clear: both; }

/* line 19, ../sass/screen.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* line 24, ../sass/screen.scss */
html, body {
  position: relative;
  background-color: #eee;
  min-width: 1201px; }

/* line 36, ../sass/screen.scss */
a, p, li {
  color: #a8bfb7; }

/* line 40, ../sass/screen.scss */
a {
  text-decoration: none; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.0.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.0.1") format("truetype"), url("../font/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 56, ../sass/screen.scss */
.social-btn, #chevron-left, #chevron-right {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0; }

/* line 61, ../sass/screen.scss */
#social-bar span {
  font-size: 0; }

/* line 67, ../sass/screen.scss */
#github:hover, #github:active {
  color: #DCF7DD; }
/* line 70, ../sass/screen.scss */
#github:before {
  content: "\f09b";
  font-size: 3em; }

/* line 76, ../sass/screen.scss */
#twitter:hover, #twitter:active {
  color: #1DCAFF; }
/* line 79, ../sass/screen.scss */
#twitter:before {
  content: "\f099";
  font-size: 2.5em; }

/* line 85, ../sass/screen.scss */
#linkedin:hover, #linkedin:active {
  color: #3E96C6; }
/* line 88, ../sass/screen.scss */
#linkedin:before {
  content: "\f0e1";
  font-size: 3em; }

/* line 94, ../sass/screen.scss */
#envelope:hover, #envelope:active {
  color: #FAFFBD; }
/* line 97, ../sass/screen.scss */
#envelope:before {
  content: "\f003";
  font-size: 2.5em; }

/* line 108, ../sass/screen.scss */
#contact-bar {
  margin-left: 150px;
  margin-right: 60px;
  width: 84.6%;
  overflow: hidden; }
  /* line 122, ../sass/screen.scss */
  #contact-bar p {
    color: #6e9487; }

/* line 127, ../sass/screen.scss */
#contact-drop-wrapper {
  width: 400px;
  margin: 0 auto; }

/* line 133, ../sass/screen.scss */
#contact-drop {
  z-index: 100;
  position: fixed;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: #f2d96b;
  color: #2a454f;
  -webkit-box-shadow: 1px 1px 10px black;
  -moz-box-shadow: 1px 1px 10px black;
  box-shadow: 1px 1px 10px black; }
  /* line 144, ../sass/screen.scss */
  #contact-drop input[type='name'], #contact-drop input[type='email'], #contact-drop input[type='textarea'] {
    position: relative;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto; }
  /* line 152, ../sass/screen.scss */
  #contact-drop input[type='textarea'] {
    width: 300px;
    height: 200px; }
  /* line 160, ../sass/screen.scss */
  #contact-drop form {
    display: none; }

/* line 167, ../sass/screen.scss */
#submit-button {
  margin-bottom: 10px;
  padding: 10px;
  color: #a8bfb7;
  background: #2a454f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  cursor: pointer; }
  /* line 174, ../sass/screen.scss */
  #submit-button:active {
    -webkit-box-shadow: inset 0 0 10px black;
    -moz-box-shadow: inset 0 0 10px black;
    box-shadow: inset 0 0 10px black; }
  /* line 177, ../sass/screen.scss */
  #submit-button:hover {
    background: #335460; }

/* line 184, ../sass/screen.scss */
#contact-link {
  font-size: 1em;
  display: block;
  width: 400px;
  padding: 10px;
  border: none;
  margin: none;
  background-color: #f2d96b;
  color: #000;
  font-family: inherit;
  cursor: pointer; }

/* line 201, ../sass/screen.scss */
.section-header {
  width: 600px;
  margin: 5% auto;
  text-align: center; }
  /* line 205, ../sass/screen.scss */
  .section-header h1 {
    font-size: 4em;
    margin-bottom: 10px; }
  /* line 209, ../sass/screen.scss */
  .section-header h2 {
    font-size: 2em; }

/* line 216, ../sass/screen.scss */
#nav-bar, #social-bar {
  position: fixed;
  height: 100%;
  background: #2a454f;
  -webkit-box-shadow: black 1px 1px 10px;
  -moz-box-shadow: black 1px 1px 10px;
  box-shadow: black 1px 1px 10px;
  -webkit-transform: translateZ(0); }

/* line 236, ../sass/screen.scss */
#nav-bar {
  top: 0;
  left: 0;
  z-index: 8;
  width: 20%;
  max-width: 150px;
  text-align: center; }
  /* line 245, ../sass/screen.scss */
  #nav-bar nav {
    font-size: 1.5em;
    padding: 5px; }
  /* line 249, ../sass/screen.scss */
  #nav-bar li, #nav-bar #nav-contact-link {
    padding: 5px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    cursor: pointer; }
  /* line 256, ../sass/screen.scss */
  #nav-bar header {
    padding: 10px; }
    /* line 258, ../sass/screen.scss */
    #nav-bar header p {
      padding: 0.5em 0; }

/* line 287, ../sass/screen.scss */
#social-bar {
  top: 0;
  right: 0;
  width: 60px;
  z-index: 8; }
  /* line 293, ../sass/screen.scss */
  #social-bar p {
    padding: 5px 0;
    width: 40px;
    margin: 0 auto; }

/* line 302, ../sass/screen.scss */
#about {
  width: 900px;
  padding: 10px 0;
  margin: 0 auto 30%; }
  /* line 306, ../sass/screen.scss */
  #about > p {
    padding: 10px;
    margin: 0 30px;
    font-size: 1.1em; }

/* line 313, ../sass/screen.scss */
.skill-columns {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 10px; }
  /* line 319, ../sass/screen.scss */
  .skill-columns ul {
    list-style: none; }
  /* line 322, ../sass/screen.scss */
  .skill-columns h3 {
    padding: 10px 0;
    font-size: 1.25em;
    text-align: center; }
  /* line 327, ../sass/screen.scss */
  .skill-columns p {
    padding: 10px; }

/* line 333, ../sass/screen.scss */
#first-column {
  margin-left: 0; }
  /* line 335, ../sass/screen.scss */
  #first-column p {
    position: relative;
    float: left;
    top: 0; }

/* line 342, ../sass/screen.scss */
#second-column h3 {
  width: 90px;
  margin: 0 auto; }

/* line 347, ../sass/screen.scss */
#third-column h3 {
  width: 100px;
  margin: 0 auto; }

/* line 352, ../sass/screen.scss */
#last-column {
  margin-right: 0; }
  /* line 354, ../sass/screen.scss */
  #last-column h3 {
    width: 90px;
    margin: 0 auto; }

/* line 362, ../sass/screen.scss */
#portfolio {
  padding-top: 1.25em;
  margin: 0 0 20% 0; }

/* line 367, ../sass/screen.scss */
#img-carousel-holder {
  position: relative;
  width: 100%;
  padding: 11px 0; }

/* line 376, ../sass/screen.scss */
#chevrons {
  width: 200px;
  margin: 30px auto; }
  /* line 383, ../sass/screen.scss */
  #chevrons div {
    width: 70px;
    margin: 0 auto;
    color: #a8bfb7; }

/* line 399, ../sass/screen.scss */
#chevron-left {
  font-family: 'FontAwesome';
  font-size: 2.5em;
  padding-right: 20px; }

/* line 414, ../sass/screen.scss */
#chevron-right {
  font-family: 'FontAwesome';
  font-size: 2.5em; }

/* line 430, ../sass/screen.scss */
#project-slider {
  position: relative;
  width: 40em;
  margin: 0 auto;
  z-index: 1; }

/* line 451, ../sass/screen.scss */
#project-move {
  position: relative;
  width: 40em;
  height: 20em;
  margin: 0 auto;
  -webkit-box-shadow: -2px -2px 10px -1px #888888;
  -moz-box-shadow: -2px -2px 10px -1px #888888;
  box-shadow: -2px -2px 10px -1px #888888;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* line 466, ../sass/screen.scss */
.project-move-slide {
  z-index: 7;
  -webkit-box-shadow: -4px -4px 20px -1px #888888;
  -moz-box-shadow: -4px -4px 20px -1px #888888;
  box-shadow: -4px -4px 20px -1px #888888;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px); }

/* line 481, ../sass/screen.scss */
.project-description {
  position: absolute;
  width: 600px;
  left: 20px;
  top: 200px;
  margin: 0 auto;
  z-index: -1;
  cursor: pointer;
  display: hidden; }
  /* line 491, ../sass/screen.scss */
  .project-description p {
    padding-top: 5px;
    line-height: 1.5em; }

/* line 500, ../sass/screen.scss */
#left, #right {
  position: absolute;
  height: 10.9em;
  width: 20em; }

/* line 529, ../sass/screen.scss */
#left {
  top: 145px;
  left: -60%; }

/* line 533, ../sass/screen.scss */
#right {
  top: 145px;
  right: -60%; }

/* line 541, ../sass/screen.scss */
.port-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: solid 3px white;
  overflow: hidden; }

/* line 555, ../sass/screen.scss */
.hide {
  display: none; }
