/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/*clearfix*/
.group:before,
.group:after {
  content: " ";
  display: table;
  /* 2 */ }

.group:after {
  clear: both; }

html, body {
  position: relative;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #D2E1F0; }

.button {
  position: absolute;
  top: 1em;
  right: 3%;
  height: 20px;
  border: 1px;
  box-shadow: -1px -1px 1px #888888;
  border-radius: 2px 2px 1em; }
  .button:hover {
    background-color: #747474; }
  .button:active {
    background-color: #919191; }

#top {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 1px 1px 5px #888888;
  background: linear-gradient(to right, #4a97d6 0%, #1477c9 99%);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em; }

nav {
  width: 28.5em;
  margin: 0 auto; }
  nav ul {
    display: inline; }
    nav ul:last-child {
      border: none; }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em 1em 0.6em; }
    nav a:hover {
      background-color: #023769;
      color: #cccccc; }

#safe-zone, #caution-zone, #danger-zone {
  height: 60%;
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  background-color: #c7ee82; }
  #safe-zone header, #caution-zone header, #danger-zone header, #safe-zone div, #caution-zone div, #danger-zone div {
    text-align: center; }
  #safe-zone header, #caution-zone header, #danger-zone header {
    padding: 5px 0 10px;
    margin-top: 3px; }

#other-routes {
  position: absolute;
  top: 370px;
  right: 1em;
  width: 130px; }
  #other-routes h1, #other-routes p {
    padding: 10px; }
  #other-routes span {
    margin-left: 10px; }

#busses {
  position: absolute;
  top: 60px;
  width: 100%;
  border: 1px solid black;
  animation: bus 30s; }
  #busses div:last-child {
    top: 12em; }
  #busses div:nth-child(3) {
    top: 10em; }
  #busses div:nth-child(2) {
    top: 5em; }

.bus {
  position: relative;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.street {
  position: relative;
  padding: 5px;
  box-shadow: 1px 1px 5px #888888;
  background-color: #fff; }

#other-routes, #stop-select {
  box-shadow: 1px 1px 5px #888888;
  padding: 10px 0;
  background-color: #fff; }

#caution-zone {
  height: 24%;
  background-color: #ffff99;
  z-index: 1; }

#danger-zone {
  height: 10%;
  background-color: #ff9999; }

#stop-select {
  position: relative;
  bottom: 8em;
  width: 10em; }
  #stop-select input, #stop-select header {
    display: block;
    width: 11em;
    margin: 0.5em auto; }
  #stop-select h1 {
    width: 10em;
    text-align: center; }

input[type=text] {
  border-radius: 20px; }

@keyframes bus {
  from {
    top: 60px; }

  to {
    top: 1000px; } }
