/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'reset';
@import "compass/css3";

$button-color: #777;

* {
	@include box-sizing(border-box);
}



/*clearfix*/
.group:before,
.group:after {
    content: " "; 
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

html, body {
	position: relative;
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #D2E1F0;
}

.button {
	position: absolute;
	top: 1em;
	right: 3%;
	height: 20px;
	border: 1px;
	@include box-shadow(-1px -1px 1px #888);	
	@include border-radius(2px 2px 1em);
	&:hover {
		background-color: darken($button-color, 1%);
	}
	&:active {
		background-color: lighten($button-color,10%);
	}
}

#top {
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	@include box-shadow(1px 1px 5px #888);
	background: linear-gradient(to right, #4a97d6 0%,#1477c9 99%);
	@include border-bottom-left-radius(1em);
	@include border-bottom-right-radius(1em);
	// z-index: 100;
}

nav {
	width: 28.5em;
	margin: 0 auto;
	ul {
		display: inline;
		// border-right: 1px solid #000;
				
		&:last-child {
			border: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		padding: 1em 1em .60em;
		&:hover {
			background-color: #023769;
			color: darken(#fff, 20%);
			 //box-shadow: 1px 1px 5px #888;
		}
	}
}

#safe-zone {
	height: 60%;
	width: 50%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	background-color: lighten(#82BD1A, 30%);
	
	header,div {
		text-align: center;
	}
	header {
		padding: 5px 0 10px;
		margin-top: 3px;
	}
}

#other-routes {
	position: absolute;
	top: 370px;
	right: 1em;
	width: 130px;
	h1, p {
		padding: 10px;
	}
	span {
	margin-left: 10px;
	}	
}

#busses {
	position: absolute;
	top: 60px;
	width: 100%;
	//border: 1px solid #000;
	animation: myfirst 3s;
	-webkit-animation: myfirst 20s ease 1s 2;
	div:last-child {
		top: 12em;
	}
	div:nth-child(3){
		top: 10em;
	}
	div:nth-child(2){
		top: 5em;
	}
}

.bus {
	position: relative;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
	text-align: center;

}

.street {
	position: relative;
	padding: 5px;
	@include box-shadow(1px 1px 5px #888);
	background-color: #fff;

}

#other-routes, #stop-select {
	@include box-shadow(1px 1px 5px #888);
	padding: 10px 0;
	background-color: #fff;
}

#caution-zone {
	@extend #safe-zone;
	height: 24%;
	background-color: lighten(yellow, 30%);
	z-index: 1;
}

#danger-zone {
	@extend #safe-zone;
	height: 10%;
	background-color: lighten(red, 30%);
}

#stop-select {
	position: relative;
	bottom: 8em;
	width: 10em;
	input, header {
		display: block;
		width: 11em;
		margin: .5em auto;
	}
	h1 {
		width: 10em;
		text-align: center;
	}
}
input[type=text] {
	@include border-radius(20px);

}

@keyframes myfirst {
	from {
		top: 60px;
		//background-color: none;
	}
	to {
		top: 800px;
		//background-color: grey;
	}
}

@-webkit-keyframes myfirst {
	from {
		top: 60px;
		//background-color: none;
	}
	to {
		top: 800px;
		//background-color: grey;
	}
}